{% extends "base.html" %}
{% block title %}
	{{ object }}
{% endblock title %}
{% block content %}
<div class="card justify-content-center text-center bg-light">
	<p class="card-header">
		Patient: {{object.patient}}
	</p>	
	<div class="card-body">
		<p>
			Doctor:<br><a href="{{object.doctor.get_absolute_url}}">{{object.doctor}}</a>
		</p>
		{% if object.attended%}
			<p class="text-info"> Attended </p>
		{% else%}
			<p class="text-info"> Not Attended </p>
		{% endif%}
		<p class= "card-footer">
			Booked for:<br>{{object.start_date}}
		</p>
		
	</div>
</div>




{% endblock content %}