{% extends 'base.html' %}
{% block title %}
        Login By Email
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
   <button type="submit" value="Login"></button>
   <a href="{% url 'accounts:login' %}"><button type="button">Login By Username</button></a>
   <a href="{% url 'accounts:login_by_otp' %}"> <button type="button">Login By One Time Password</button></a>

    Do not have an account? <a href="{% url 'accounts:register' %}">Register here</a>

    </form>


{% endblock %}