{%extends "base.html" %}
{% load static %}
{% block content %}

<div class = "d-flex justify-content-evenly " >
    <div class = "card bg-light m-2">
            <p class="card-header text-dark">Your Profile Details :</p>
        <div class="card-body text-dark">
                <p>Username : {{user.username}}</p>
                <p>first name : {{user.first_name}}</p>
                <p>Last name : {{user.last_name}}</p>
                <p>Phone : {{patient_data.phone_number}}</p>
                <p>Birth Date : {{patient_data.birth_date}}</p>
                <p>Address : {{patient_data.address}}</p>
                <p>Wallet balance : {{patient_data.wallet}}</p>   
        </div>
    </div>
    <div class="card bg-light p-1 m-2">
        <form method="post" class="card-body form-group d-flex flex-column justify-content-center" >{% csrf_token %}
            {{patient_form.as_p}}
            <button class="btn btn-success" type="submit">change</button>
        </form>
    </div>
</div>
{% endblock %}