{% extends 'base.html' %}
{% block title %}
        Register
{% endblock %}
{% load static %}
{%block extra_css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{%endblock%}
{% block content %}
    <form method="post"class= "form-container">
        {% csrf_token %}
        {{ form.as_p }}
    
    <button type="submit" value="Register" class= "btn">Register</button>
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'accounts:login' %}"> Login here</a>

{% endblock %}