{% load static %}
{% load navbar_tag %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Doctor Appointments System{% endblock %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <meta name="viewport" content="width=device-width, initial-">
    </head>
    <body>
        {% navbar %}
        <div class="jumbotron">
            {% include 'partials/messages.html' %}
            {% block content %}{% endblock %}
        </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>