{% extends "base.html" %}
{% block title %}
	{{ object }}
{% endblock title %}
{% block content %}
	<!-- Doctor's info card -->
	<div class="card">
		<div class="card-body">
			<!-- Doctor's info -->
			<h5 class="card-title">{{ object }}</h5>
			<p class="card-text">Speciality: {{ object.speciality }}</p>
			<p class="card-text">Phone Number: {{ object.phone_number }}</p>
			<p class="card-text">Email: {{ object.email }}</p>
			<p class="card-text">Address: {{ object.address }}</p>
			<p class="card-text">Fee: {{ object.fee }}</p>
			<p class="card-text">Rate: {{ object.rate }} ({{ object.rates.count }})</p>
			<div class="mb-3">
				{% if user.is_authenticated %}
					<a href="{% url "surveys:rate-create" doctor.pk %}" class="btn btn-primary">Send Rate</a>
				{% endif %}
			</div>
			<!-- Buttons -->
			{% if user.is_staff and user.is_authenticated %}
				<a href="#" class="btn btn-primary">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
				<a href="#" class="btn btn-warning">Set Appointment</a>
			{% endif %}
			<!-- End Doctor's Info -->
			<!-- Schedule table -->
			<h5 class="card-title pt-4">Schedule</h5>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Day of week</th>
						<th scope="col">Start Time</th>
						<th scope="col">End Time</th>
					</tr>
				</thead>
				<tbody>
					{% for day in object.schedules.all %}
						<tr>
							<td>{{ day.get_day_of_week_display }}</td>
							<td>{{ day.start_time }}</td>
							<td>{{ day.end_time }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- Schedule table end -->
		</div>
	</div>
	<!-- Add Comment Form -->
	{% if user.is_authenticated %}
		<a class="btn btn-primary mt-2" href="{% url "surveys:comment-create" doctor.pk %}">Write Comment</a>
	{% endif %}
	<!-- Add Comment Form End -->

	<!-- Comments -->
	<h5 class="card-title pt-4">Comments: ({{ object.comments.count }})</h5>
	<div class="card">
		<div class="card-body">
			<!-- Comments list -->
			<ul class="list-group">
				{% for comment in object.comments.all %}
					<li class="list-group-item">
						<p class="mb-1">
							<strong>{{ comment.patient }}</strong> - {{ comment.created_at }}
						</p>
						<p class="card-title">{{ comment.title }}</p>
						<p class="card-text">{{ comment.content }}</p>
					</li>
				{% empty %}
					<p>No comments yet.</p>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock content %}
